<div class="flex align-items-center justify-content-center md:h-screen">
  <p-card >
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
      <div class="formgrid">
        <div class="field w-12">
          <label class="block font-bold mb-2" for="email"> Email </label>
          <input id="email" class="w-12" pInputText formControlName="email" />
          @if(hasError('email')){
          <p-message severity="error" variant="simple" size="small">
            El email es requerido
          </p-message>
          }
        </div>
        <div class="field w-12">
          <label class="block font-bold mb-2" for="password">
            Contraseña
          </label>
          <input
            id="password"
            class="w-12"
            pInputText
            type="password"
            formControlName="password"
          />
          @if(hasError('password')){
          <p-message severity="error" variant="simple" size="small">
            La contraseña es requerida
          </p-message>
          }
        </div>
      </div>
    </form>
    <p-divider></p-divider>
    <ng-template pTemplate="footer">
      <div class="flex align-items-center justify-content-center">
        <button pButton type="submit" form="loginForm" label="Login"></button>
      </div>
    </ng-template>
  </p-card>
</div>
