<div class="my-4 grid justify-content-center">
  <div class="field col-12 sm:col-6 md:col-4 lg:col-3">
    <label class="block font-bold mb-2" for="patrulla"> Patrulla </label>
    <p-select
      id="patrulla"
      [options]="patrullas"
      [(ngModel)]="patrulla"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecciona patrulla"
      class="w-full md:w-56"
      (onChange)="onPatrullaChange($event)"
    ></p-select>
  </div>
  <div class="field col-12 sm:col-6 md:col-4 lg:col-3">
    <label class="block font-bold mb-2" for="accion"> Accion </label>
    <p-select
      id="accion"
      [filter]="true"
      [options]="acciones"
      [(ngModel)]="accion"
      optionLabel="descripcion"
      optionValue="id"
      placeholder="Selecciona una accion"
      class="w-full md:w-56"
      (onChange)="onAccionChange($event)"
    ></p-select>
  </div>
  <div class="mt-4 col-12 md:col-2 lg:col-1 flex justify-content-end">
    <p-button label="limpiar" (onClick)="clearFilters()"></p-button>
  </div>
</div>
<div class="my-4">
  <p-table
    [value]="puntosPatrullas"
    stripedRows
    [paginator]="puntosPatrullas.length > 10"
    [rows]="10"
  >
    <ng-template #header>
      <tr>
        <th class="mobile" id="patrulla-accion">
          <div class="my-2">Patrulla</div>
          <div class="my-2">Accion</div>
        </th>
        <th class="mobile" id="patrulla-puntos">
          <div class="my-2">Fecha</div>
          <div class="my-2">Puntos</div>
        </th>
        <!-- PC -->
        <th class="pc" id="patrulla">Patrulla</th>
        <th class="pc" id="accion">Accion</th>
        <th class="pc" id="puntos">Ptos</th>
        <th class="pc" id="fecha">Fecha</th>
        @if(hasAcciones){
        <th id="acciones"></th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-punto>
      <tr>
        <td class="mobile">
          <div class="my-2">{{ punto.patrulla.name }}</div>
          <div class="my-2">
            {{ formatDescripcion(punto) }}
          </div>
        </td>
        <td class="mobile">
          <div class="my-2">
            {{ punto.fecha | date: 'dd/MM/yyyy' }}
          </div>
          <div class="my-2">
            {{ punto.puntos }}
          </div>
        </td>
        <!-- PC -->
        <td class="pc">{{ punto.patrulla.name }}</td>
        <td class="pc">
          {{ formatDescripcion(punto) }}
        </td>
        <td class="pc">{{ punto.puntos }}</td>
        <td class="pc">{{ punto.fecha | date: 'dd/MM/yyyy' }}</td>
        @if(hasAcciones){
        <td>
          <p-button severity="danger" (onClick)="deletePunto(punto)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </p-button>
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
